# Source files
# ============
*.pxd    diff=python
*.py     diff=python
*.py3    diff=python
*.pyw    diff=python
*.pyx    diff=python
*.pyz    diff=python
*.pyi    diff=python

# Binary files
# ============
*.db     binary
*.p      binary
*.pkl    binary
*.pickle binary
*.pyc    binary
*.pyd    binary
*.pyo    binary

# Jupyter notebook
.ipynb linguist-documentation
*.ipynb  diff=python
